<h1>Editing Environmental Reading</h1>

<%= render 'form', environmental_reading: @environmental_reading %>

<%= link_to 'Show', @environmental_reading %> |
<%= link_to 'Back', environmental_readings_path %>
