<p id="notice"><%= notice %></p>

<p>
  <strong>Handle:</strong>
  <%= @sensor_type.handle %>
</p>

<%= link_to 'Edit', edit_sensor_type_path(@sensor_type) %> |
<%= link_to 'Back', sensor_types_path %>
