<h1>Editing Environmental Reading Type</h1>

<%= render 'form', environmental_reading_type: @environmental_reading_type %>

<%= link_to 'Show', @environmental_reading_type %> |
<%= link_to 'Back', environmental_reading_types_path %>
