<p id="notice"><%= notice %></p>

<p>
  <strong>Handle:</strong>
  <%= @environmental_reading_type.handle %>
</p>

<%= link_to 'Edit', edit_environmental_reading_type_path(@environmental_reading_type) %> |
<%= link_to 'Back', environmental_reading_types_path %>
